<div ng-controller="addAnimeContoller">
	
	<div class="row">
		<div class="col-xs-1">
		</div>
		<div class="col-xs-4 text-center" style="overflow: hidden;">
			<p>Anime Per Page</p>
		</div>
		<div class="col-xs-4 text-center">
			<button style="display: block;" class="btn btn-default" type="submit">Add New Entry</button>
		</div>
		<div class="col-xs-3 text-center">
			<button style="display: block;" class="btn btn-default" type="submit" ng-click="home()">Home</button>
		</div>
	</div>
	
        
    
</div>
