<div ng-controller="addShowContoller">

		<div class="row" style="margin-top:3%">
			<div class="col-xs-1">
			</div>
			<div class="col-xs-5 text-center">
				<input ng-model="name" class="form-control" type="text" name="name">
			</div>
			<div class="col-xs-5 text-center">
				<input ng-model="rating" class="form-control" type="text" name="name">
			</div>
			<div class="col-xs-1">
			</div>
		</div>

		<div class="row" style="margin-top:3%">
			<div class="col-xs-1"></div>

			<div class="col-xs-5 text-center">
				<button class="btn btn-default" type="submit" ng-click="addShow()">Submit</button>
			</div>
			<div class="col-xs-5 text-center">
				<button class="btn btn-default" type="submit" ng-click="cancel()">Cancel</button>
			</div>

			<div class="col-xs-1"></div>
		</div>

    
</div>