<div ng-controller="showContoller" ng-init="showData()">
	
	<div class="row">
		<div class="col-xs-1">
		</div>
		<div class="col-xs-4 text-center" style="overflow: hidden;">
			<p>Show Per Page</p>
			<select class="chosen-container" ng-options="option.name for option in data.availableOptions track by option.id" ng-change="changedValue(data.selectedOption)"
					ng-model="data.selectedOption">
			</select>
		</div>
		<div class="col-xs-4 text-center">
			<button style="display: block;" class="btn btn-default" type="submit" ng-click="addNewShow()">Add New Entry</button>
		</div>
		<div class="col-xs-3 text-center">
			<button style="display: block;" class="btn btn-default" type="submit" ng-click="home()">Home</button>
		</div>
	</div>
	<div class= "row" style="margin-top:2%">

		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<table class="table table-bordered" >
				<tr>
					<th ng-repeat="header in headers" style="width:{{test}}%; text-align:center;"><span>{{header.title}}</span></th>
				</tr>
				<tr ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
					<td style="text-align:center;"><span>{{ datalist.name }} </span></td>
					<td style="text-align:center;"><span>{{ datalist.rating }}</span></td>
					<td style="text-align:center;"><span>{{ datalist.season }}</span></td>
					<td style="text-align:center;"><span>{{ datalist.episodes }} </span></td>
					<td style="text-align:center;"><span>{{ datalist.running }}</span></td>
					<td style="text-align:center;"><span>{{ datalist.air_day }}</span></td>
					<td style="text-align:center;"><span>{{ datalist.my_rating }} </span></td>
					<td style="text-align: center" ng-click="editEntry(datalist)"><span>{{editSaveSymbol}}</span></td>

				</tr>
			</table>
		</div>

		<div class="col-xs-1"></div>
	</div>
        
    <div class="row" ng-show="datalists.length">
		<div class="col-xs-4 text-center">
		</div>
		<div class="col-xs-4 text-center">
			<button type="button" class="btn btn-primary" ng-disabled="isFirstPage()" ng-click="reduceCurrentPage()"> &lt; PREV</button>
			<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
			<button type="button" class="btn btn-primary" ng-disabled="isLastPage()" ng-click="increaseCurrentPage()">NEXT &gt;</button>
		</div>
		<div class="col-xs-4 text-center">
		</div>
	</div>
</div>
