<div ng-controller="showContoller" ng-init="showData()">
	<table class="table table-bordered">
		<tr>
			<th style="width:33%; text-align:center;"><span>Name</span></td>
			<th style="width:33%; text-align:center;"><span>Age</span></td>
			<th style="width:33%; text-align:center;"><span>Designation</span></td>
		</tr>
		<tr ng-repeat="datalist in datalists | pagination: curPage * pageSize | limitTo: pageSize">
			<td style="width:33%; text-align:center;"><span>{{ datalist.name }} </span></td>
			<td style="width:33%; text-align:center;"><span>{{ datalist.age }}</span></td>
			<td style="width:33%; text-align:center;"><span>{{ datalist.designation }}</span></td> 
		</tr>
	</table> 
        
    <div class="row" ng-show="datalists.length">
		<div class="col-xs-4 text-center">
		</div>
		<div class="col-xs-4 text-center">
			<button type="button" class="btn btn-primary" ng-disabled="isFirstPage()" ng-click="reduceCurrentPage()"> &lt; PREV</button>
			<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
			<button type="button" class="btn btn-primary" ng-disabled="isLastPage()" ng-click="increaseCurrentPage()">NEXT &gt;</button>
		</div>
		<div class="col-xs-4 text-center">
		</div>
	</div>
</div>
